.container {
	display: flex;
	flex-direction: column;
}

.actions {
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.actions button:first-child {
	margin-right: 10px;
}
