@import "./variables.scss";

.page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $background-color;
	background: $background-gradient-color;
}
