$background-color: #43a1c8;
$background-gradient-color: linear-gradient(
	180deg,
	rgba(67, 161, 200, 1) 10%,
	rgba(99, 193, 231, 0.9223039557619923) 62%
);

$color-black: #000000;
$color-white: #ffffff;
$color-positive: #2ecc71;
$color-positive-hover: #05ca57;
$color-negative: #cb4e4e;
$color-negative-hover: #c92121;
$color-done: #80f87ae6;
